html {
  height: 100%;
  width: 100%;
}
.header{
  color: rgb(255, 51, 0);
  background-color: black;
  font-size: xx-large;
}



.paragraph-1{
  background-color: rgb(233, 27, 61);
  color: black;
}
.paragraph-2{
  color: rgb(7, 7, 7);
  background-color: rgb(13, 218, 166);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.paragraph-3{
  color: rgb(233, 27, 61);
  background-color: rgb(46, 17, 209);
  font-size: x-small;
}

table, td,th{
 color: rgb(19, 171, 221);
 background-color: black  ;
 border: 5px solid rgb(19, 171, 221);
 width: 50%;
}

nav{
  color: rgb(10, 180, 10);
  float: right;
}
.list{
  color: rgb(207, 23, 23);
  font-size: xx-large;
  text-align: left;
}
button{
  color: rgb(233, 30, 30);
  background-color: black;
  margin: 25px;
  padding: 15px;
}
footer{
  color: saddlebrown;
  font-size: medium;
  background-color: blue;

}